@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,500&family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

.maincontainer {
  border: 1px solid gray;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  height: 65vh;
  background-image: url("../../assets/loginImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.maincontainer h1 {
  color: red;
}

.inpt {
  margin: 1rem;
}

.inpt input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: border-color 0.1s ease-in-out;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.inputContainer {
  background: rgba(18, 18, 18, 0.5);
  width: 30vw;
  height: max-content;
  padding: 1rem;
  margin-left: 50%;
  margin-top: 10vh;
}

.bottomText {
  color: bottom;
}

.bottomText Link {
  text-decoration: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
 

  .inputContainer {
    height: max-content;
    width: auto !important;
    padding: 10px !important;
    /* position: absolute !important; */
    margin-left: 0.5rem !important;
    margin-right: 10px;
  }

  .inpt input {
    width: 100%;
  }

  .bottomText {
    font-size: 14px;
  }
}
